{% extends 'base.html.twig' %}

{% block title %}New Categories{% endblock %}

{% block body %}

    <br><br><br>
    <h1>BIBLIO-PROJECT</h1>
    <h3>DWWM / 2021-2022</h3>



<div class="container">
     <!-- Article main content -->
	<article class="col-md-12 maincontent">

        <div class="container">
		<div class="row">	
            {% for article in articles %}  
                {% for status in article.status %}	
                    {% if status=="3" %}				
                        <div class="col-lg-6  col-md-6 col-sm-6 col-xs-12 border: 1px">
                            <div class="pull-left">
                                <a href="{{ path('articles_show', {id: article.id, slug: article.slug }) }}">
                                    <img src="{{vich_uploader_asset(article, 'imageFile') | imagine_filter('article') }}" class="img-fluid img-thumbnail" alt=""   >
                                    <br>
                                    <strong> {{ article.title }} </strong> 
                                </a><br>
                                    {{ article.resume | raw | striptags|slice(0, 400) ~ '...' }}  
                                    <a href="{{ path('articles_show', {id: article.id, slug: article.slug }) }}" class="btn btn-warning btn-sm">Lire la suite...</a>
                            </div>
                        </div>	
                    {% endif%}	
            {% endfor %}
        {% endfor %}
		</div>
    </div>

   {# <a href="{{ path('articles_new') }}">Creation </a> #} 
</div>

        
{% endblock %}

