{% extends 'base_admin.html.twig' %}

{% block title %}Auteurs index{% endblock %}

{% block body %}
    <br><br>
    <h1>Les Auteurs </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Noms</th>
                <th>Prenoms</th>
                <th>Mails</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for auteur in auteurs %}
            <tr>
                <td>{{ auteur.id }}</td>
                <td>{{ auteur.noms }}</td>
                <td>{{ auteur.prenoms }}</td>
                <td>{{ auteur.mails }}</td>
                <td>
                    <a href="{{ path('authors_show', {'id': auteur.id}) }}">afficher | </a>
                    <a href="{{ path('authors_edit', {'id': auteur.id}) }}">editer |</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('authors_new') }}">Nouvel auteur </a>
{% endblock %}
